<!--
<h1>Angular</h1>
<course></course>

<favorite [isFavorite]="post.isFavorite" 
          (change)="onFavoriteChanged($event)"
></favorite>

<favorite [isFavorite]="!post.isFavorite" 
          (change)="onFavoriteChanged($event)"
></favorite>

<favorite></favorite>

<like
    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked"
></like>

<h2>Assignment 5</h2>
<zippy title="Shipping Details">
    <div class="zippy-content">
        Shipping Detail Content
    </div>
</zippy>
<zippy title="Billing Details">
    <div class="zippy-content">
        Billing Detail Content
    </div>
</zippy>

<h2>Directives</h2>
<input type="text" appInputFormat format="uppercase">
-->
<!-- <contact-form></contact-form> -->

<!-- <course-form></course-form> -->

<signup-form></signup-form>
