<h1>Angular</h1>
<!--
<course></course>

<favorite [isFavorite]="post.isFavorite" 
          (change)="onFavoriteChanged($event)"
></favorite>

<favorite [isFavorite]="!post.isFavorite" 
          (change)="onFavoriteChanged($event)"
></favorite>

<favorite></favorite>

<like
    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked"
></like>
-->

<zippy title="Shipping Details">
    <div class="zippy-content">
        Shipping Detail Content
    </div>
</zippy>
<zippy title="Billing Details">
    <div class="zippy-content">
        Billing Detail Content
    </div>
</zippy>


