<form id="formTest" action="">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName"
            id="firstName" ngModel #firstName="ngModel"
            class="form-control"
            (change)="log(firstName)"
            required minlength="4" pattern="Marcos"
        >
        <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
            <div *ngIf="firstName.errors.required">
                First Name is required!
            </div>
            <div *ngIf="firstName.errors.minlength">
                Minimun {{ firstName.errors.minlength.requiredLength}} characters is required!
            </div>
            <div *ngIf="firstName.errors.pattern">
                Pattern doesn't match!
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="comment">Comments</label>
        <textarea name="comment"
            id="comment" ngModel #comment="ngModel"
            class="form-control"
            cols="30" rows="10"
            (change)="log(comment)"
            required
        ></textarea>
        <div class="alert alert-danger" *ngIf="comment.touched && comment.invalid">Comment is required</div>
    </div>
    <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
</form>