<form id="formTest" #f="ngForm" (ngSubmit)="submit(f)">
    <div ngModelGroup="contact" #contact="ngModelGroup">
        <div *ngIf="contact.valid"></div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input 
                required 
                minlength="4" 
                pattern="Marcos"
                ngModel 
                name="firstName" 
                #firstName="ngModel"
                (change)="log(firstName)"
                id="firstName" 
                class="form-control"
                type="text" 
            >
            <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
                <div *ngIf="firstName.errors.required">
                    First Name is required!
                </div>
                <div *ngIf="firstName.errors.minlength">
                    Minimun {{ firstName.errors.minlength.requiredLength}} characters is required!
                </div>
                <div *ngIf="firstName.errors.pattern">
                    Pattern doesn't match!
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="comment">Comments</label>
        <textarea 
            required
            ngModel 
            name="comment"
            #comment="ngModel"
            class="form-control"
            (change)="log(comment)"
            id="comment" 
            cols="30" rows="10"
        ></textarea>
        <div class="alert alert-danger" *ngIf="comment.touched && comment.invalid">Comment is required</div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>